* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body,#app {
    width: 100%;
    height: 100%;
}
.el-card__body {
    height: 100%;
}
.mt20 {
    margin-top: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.mr5{
    margin-right: 5px;
}
.ptl20 {
    padding: 20px 0 0 20px;
}
.ple20 {
    padding: 0 20px;
}
summary {
    cursor: pointer;
}